/* .btn-group button {
    background-color: #27387E; 
  border: 1px solid #27387E; 
  color: white;
  padding: 10px 24px;
  cursor: pointer; 
  width: 50%; 
  display: block; 
} */
/* 
.btn-group button:not(:last-child) {
    border-bottom: none;
} */

/* .btn-group:active {
    background-color: #B61547
} */

.buttonWidth{
    width: 50%;
    cursor:pointer;
    
}
.buttonItem{
    padding: 10px 24px;
    font-size: 20px !important; 
    padding:25px 0  !important;
    display: block;
}

.center{
    display: block;
    text-align: center;
    margin-left: auto;
  margin-right: auto;
}

.col-group{
    display: none;
}



@media only screen and (max-width: 600px) {
    .buttonWidth{
        width: 80%;
        cursor:pointer;
        padding-bottom: 15px;
        
    }

    .divider{
        width:5px;
        height:8px;
        display:inline-block;
    }
    .first{
        float: right;
    }
    .col-group{
        width: 50%;
        display: block;
    }

    .buttonItem{
        padding: 10px 24px;
        font-size: 15px !important; 
        padding:25px 0  !important;
        display: block;
        font-weight: bold;
        border: 1px outset ;
    }
    .center{
        display: none;
    }
  }