.question {
    color:black;
    text-align:start;
    font-weight: bold;
    font-size:1vw;
}

.question:active {
    background-color:#B61547;
}


.answer{
    font-size: 1vw;
    text-align:start;
    margin: 1% 0;
}
/* 
.question-wrapper{
    border-top: 2px solid #BEBEBE
} */

.icon {
    /* background: url(../../images/next.png) no-repeat;
    float: right;
    width: 10px;
    padding-right: 6%;
    
     */
}

.cerrado{
    /* background: url(../../images/next.png) no-repeat;
    float: right;
    width: 10px;
    padding-right: 6%;
    padding-top: 30px;
    transform: rotate(-90deg) translateX(10px); */
}

@media only screen and (max-width: 600px) {
    span.icon {
        background: url(../../images/next.png) no-repeat;
        float: right;
        width: 10px;
        margin-top: 2%;
        padding-right: 10%;
        height: 23px;
        transform: rotate(90deg)
    }

    .icon {
        background: url(../../images/next.png) no-repeat;
        float: right;
        width: 10px;
        padding-right: 10%;
        font-size:3vw;
    }
    .cerrado{
        background: url(../../images/next.png) no-repeat;
        float: right;
        width: 6px;
        padding-right: 9%;
        height: 23px;
        margin-bottom: 2%;
        transform: rotate(-90deg)
    }

    .question {
        font-size:3vw;
    }

    .answer{
        font-size: 3vw;
        text-align:start;
        margin: 5% 0;
    }
}